@font-face {
    font-family: "ALS Sirius";
    src: url("../fonts/ALS_Sirius_Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ALS Sirius";
    src: url("../fonts/ALS_Sirius_Black.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background: -webkit-gradient(linear, left top, right top, color-stop(56.84%, rgba(255, 111, 26, 0)), to(rgba(255, 111, 26, 0.2))), -webkit-gradient(linear, left top, right top, from(rgba(26, 227, 255, 0.2)), color-stop(42.52%, rgba(26, 227, 255, 0))), #0F141A;
    background: -o-linear-gradient(left, rgba(255, 111, 26, 0) 56.84%, rgba(255, 111, 26, 0.2) 100%), -o-linear-gradient(left, rgba(26, 227, 255, 0.2) 0%, rgba(26, 227, 255, 0) 42.52%), #0F141A;
    background: linear-gradient(90deg, rgba(255, 111, 26, 0) 56.84%, rgba(255, 111, 26, 0.2) 100%), linear-gradient(90deg, rgba(26, 227, 255, 0.2) 0%, rgba(26, 227, 255, 0) 42.52%), #0F141A;
    padding-top: 20px;
    position: relative;
    font-family: "ALS Sirius";
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    color: #B9BEC4;
}

section {
    margin-top: 200px;
}

video {
    display: block;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.second__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #FF6F1A;
    text-transform: uppercase;
}

.third--title {
    font-weight: 900;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;

}

.button {
    position: relative;
    text-transform: uppercase;
    border-radius: 60px;
    padding: 8px 18px;
    font-weight: 400;
    border: 1px solid #FF6F1A;
    overflow: hidden;
    z-index: 2;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FF6F1A;
    z-index: -1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.button:hover::before,
.first__stage:hover {
    top: 100%;
}

a.button:hover {
    color: #fff;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.gradient {
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    background: -o-linear-gradient(0.17deg, #1AE3FF 12.79%, #FF6F1A 82.96%);
    background: linear-gradient(89.83deg, #1AE3FF 12.79%, #FF6F1A 82.96%);
    mix-blend-mode: color;
    margin-left: 0;
    bottom: 0;
    left: 0;
}

.video__container:hover .gradient,
.advantages__container:hover .gradient,
.employee__img:hover .gradient,
.life__img:hover .gradient {
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    width: 0;
    margin-left: 100%;

}

/* header */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}

.nav__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    color: #91969C;
}

.nav__link:hover {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    color: #fff;

}

.header__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
}

.vacancies__link {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    border-radius: 60px;
    border: 1px solid #FF6F1A;
    padding: 8px 14px;
    position: relative;
    overflow: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.vacancies__link::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    background: #FF6F1A;
    z-index: -1;
}

.vacancies__link:hover {
    color: #0F141A;
}

.vacancies__link:hover::before {
    top: 0;
}

.vacancies__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.vacancies__img:hover path {
    fill: #fff
}

.burger-menu {
    position: absolute;
}

.burger-menu_button {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 30;
    width: 30px;
    height: 30px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}


.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #B9BEC4;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.burger-menu_lines {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
    content: '';
    top: -6px;
}

.burger-menu_lines::after {
    content: '';
    top: 6px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}

.burger-menu_active .burger-menu_lines::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu_lines::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}


/* title block */

.title__block {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 120px;
}

.title__block * {
    text-transform: uppercase;
}

.title {
    position: absolute;
    left: 0;
    top: -50px;
    font-weight: 900;
    font-size: 98px;
    line-height: 100%;
    color: #fff;
    z-index: 2;
}

.title span {
    color: #FF6F1A;
    font-weight: 400;
}

.title__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 70px;
    position: relative;
    bottom: 40px;
}

.title__block .open__form {
    color: #0F141A;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.open__form:hover {
    color: #FFFFFF;
}

.play__video {
    font-weight: 400;
    color: #FF6F1A;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.play__video:hover {
    cursor: pointer;
    color: #FFFFFF;
}

.play__video:hover .play__btn {
    background: #B9BEC4;
}

.play__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px;
    background: #FF6F1A;
    border-radius: 0px 60px 60px 0px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.video__container {
    z-index: 1;
    width: 50%;
    position: relative;
    cursor: pointer;
}



/* cities */

.cities {
    width: auto;
    margin: 130px auto;
    overflow: hidden;
    position: relative;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}

.cities__list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: calc(-100% - 10px);
    margin-right: calc(-100% + 10px);
    text-align: center;

}

.cities__list:before {
    content: "";
    margin-left: -100%;
}

.cities__list:after {
    content: "";
    margin-right: -100%;
}

.cities__list li {
    color: #91969C;
    text-transform: uppercase;
}

li.main__city {
    font-weight: 900;
    color: #fff;
}

/* we */
.we {
    position: relative;
}

.we__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.we__description .col {
    width: 32%;
}

.col p {
    font-weight: 400;
}

.we .third--title {
    margin-top: 30px;
}

.product {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__block {
    width: 32%;
    padding: 40px;
    background: #FF6F1A;
}

.product__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
}

.product__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 115px;
}

.product__body p {
    font-size: 16px;
    line-height: 21px;
    color: #0F141A;

}

.product__body span {
    background: #0F141A;
    border-radius: 0px 60px 60px 0px;
    padding: 10px;
    width: 38px;
    height: 38px;
}

.product__block:hover {
    background: #0F141A;
}

.product__block:hover p {
    color: #B9BEC4;
}

.product__block:hover span {
    background: #FF6F1A;
}

.product__block:hover path {
    stroke: #0F141A;
}

/* advantages */
.advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.advantages__title--block {
    width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.advantages__container {
    width: 100%;
    position: relative;
}


.advantages__container img {
    width: 100%;
}

.advantages .gradient {
    top: 0;
}

.advantages__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 100px;
    width: 66%;
}

.advantages__elem {
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    position: relative;
    overflow: hidden;
}

.advantages h3 {
    width: 35%;
}

.advantages p {
    width: 65%;
    font-weight: 400;
    color: #B9BEC4;
}

.advantages h3,
.advantages p {
    position: relative;
    top: 100%;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.advantages__elem:hover .advantages h3,
.advantages__elem:hover .advantages p {
    top: 0;
}

/* stages */

.stages__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stages .second__title {
    width: 24%;
}

.stages__description {
    width: 66%;
}

.first__stage {
    display: block;
    margin-top: 80px;
    padding: 14px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-align: center;
    color: #0F141A;
}

.first__stage .stage__number {
    position: absolute;
    left: 14px;
    line-height: 22px;
}

.stages__wrapper {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stage__elem {
    width: 24%;
    padding: 35px 28px;
    border: 1px solid #B9BEC4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 0px;
    grid-template-areas:
        "stage__description stage__description stage__description"
        "stage__description stage__description stage__description"
        "stage__description stage__description stage__description"
        "stage__number stage__number stage__time";
}

.stage__description {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-area: stage__description;
    text-transform: uppercase;
    color: #FFFFFF;
}

.stage__number {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: stage__number;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stage__time {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    grid-area: stage__time;
    color: #FF6F1A;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stage__number {

    font-weight: 900;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}



/* team */
.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.team__title {
    width: 24%;
}

.first__slider {
    width: 66%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.progress {
    width: 100%;
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    background-color: rgba(15, 20, 26, 0.5);
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#fff));
    background-image: -o-linear-gradient(left, #fff, #fff);
    background-image: linear-gradient(to right, #fff, #fff);
    background-repeat: no-repeat;
    background-size: 0 100%;

    -webkit-transition: background-size .4s ease-in-out;

    -o-transition: background-size .4s ease-in-out;

    transition: background-size .4s ease-in-out;
}

#progress-1 {
    margin-top: 30px;
}

#progress-2 {
    margin-top: 40px;
}

.slider__elem {
    width: 32%;
}

.employee__img,
.employee__img img {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider__elem:nth-of-type(2n) .gradient {
    height: 40px;
}

.employee__name {
    margin-top: 20px;
    font-weight: 400;
    color: #fff;
}

.employee__description,
.show__more {
    width: 95%;
    text-align: left;
    margin-top: 10px;
}

.show__more {
    color: #91969C;
}

.ellipsis.active,
.employee__hidden {
    display: none;
}

.employee__hidden.active {
    display: contents;
}

.slick-prev,
.slick-next {
    background: #0F141A;
    width: 38px;
    height: 38px;
    color: transparent;
    position: absolute;
    top: 50%;
}

.first__slider .slick-prev {
    left: -51.5%;
    border-radius: 60px 0px 0px 60px;
}

.first__slider .slick-next {
    left: -45%;
    border-radius: 0px 60px 60px 0px;
}

.slick-prev::before,
.slick-next::before {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 24px;
    height: 24px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slick-prev::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.999 12H4.99902' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M11.999 5L4.99902 12L11.999 19' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.slick-next::before {
    content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17188 12.7681H19.1719' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M12.1719 5.76807L19.1719 12.7681L12.1719 19.7681' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.slick-prev:hover,
.slick-next:hover {
    background: #FF6F1A;
}

.slick-prev:hover path,
.slick-next:hover path {
    stroke: #0F141A;
    ;
}

.slick-prev:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.999 12H4.99902' stroke='%230F141A' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M11.999 5L4.99902 12L11.999 19' stroke='%230F141A' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.slick-next:hover::before {
    content: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17188 12.7681H19.1719' stroke='%230F141A' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3Cpath d='M12.1719 5.76807L19.1719 12.7681L12.1719 19.7681' stroke='%230F141A' stroke-width='2' stroke-linecap='square' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

/* map */

.map {
    margin-top: 80px;
}

.map__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.counter {
    width: 24%;
    font-weight: 900;
    font-size: 98px;
    line-height: 100%;
    color: #FFFFFF;
}

.departments {
    width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4px;
}

.department__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #B9BEC4;
    padding: 8px 30px;
    color: #0F141A;
    text-transform: uppercase;
}

.map__block {
    margin-top: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.map__description {
    width: 32%;
}

.map__img--block {
    width: 66%;
    position: relative;
}

.map__img {
    width: 100%;
}

.dots__lits {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.map__dot {
    width: 26px;
    height: 26px;
    background: #FF6F1A;
    border-radius: 50%;
    position: absolute;
    display: none;
}

.map__dot:nth-of-type(1) {
    left: 57%;
    top: 34%;
}

.map__dot:nth-of-type(10) {
    left: 46%;
    top: 32%;
}

.map__dot:nth-of-type(8) {
    left: 51%;
    top: 28%;
}

.map__dot:nth-of-type(4) {
    left: 52%;
    top: 36%;
}

.map__dot:nth-of-type(5) {
    left: 52%;
    top: 43%;
}

.map__dot:nth-of-type(2) {
    left: 55%;
    top: 39%;
}

.map__dot:nth-of-type(7) {
    left: 54%;
    top: 21%;
}

.map__dot:nth-of-type(3) {
    left: 55%;
    top: 28%;
}

.map__dot:nth-of-type(18) {
    left: 31%;
    top: 70%;
}

.map__dot:nth-of-type(6) {
    left: 60%;
    top: 25%;
}

.map__dot:nth-of-type(9) {
    left: 62%;
    top: 18%;
}

.map__dot:nth-of-type(12) {
    left: 63.5%;
    top: 25.5%;
}

.map__dot:nth-of-type(13) {
    left: 64.5%;
    top: 34%;
}

.map__dot:nth-of-type(11) {
    left: 67%;
    top: 29%;
}

.map__dot:nth-of-type(14) {
    left: 76%;
    top: 23%;
}

.map__dot:nth-of-type(16) {
    left: 75%;
    top: 51%;
}

.map__dot:nth-of-type(17) {
    left: 73%;
    top: 58%;
}

.map__dot:nth-of-type(15) {
    left: 75%;
    top: 64%;
}

/* life */

.life__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.life .second__title {
    width: 32%;
}

.life__description {
    width: 32%;
}

.second__slider {
    margin-top: 100px;
    padding-bottom: 100px;
}

.life__img {
    position: relative;
}

.life__img img {
    width: 100%;
    margin: 0;
}

.life__img .gradient {
    bottom: 0;
    height: 80px;
}

.life__img:nth-of-type(2n) .gradient {
    top: 0;
    height: 40px;
}

.second__slider .slick-prev,
.second__slider .slick-next {
    top: 90%;
}

.second__slider .slick-prev {
    left: 0;
    border-radius: 60px 0px 0px 60px;
}

.second__slider .slick-next {
    right: 0;
    border-radius: 0px 60px 60px 0px;
}


.faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.faq .second__title {
    width: 32%;
}

.faq__block {
    width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 50px;
}

.faq__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
}

.faq__elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.faq__title {

    width: 85%;
}

.faq__arrow {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.faq__arrow.active {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.faq__description {
    width: 85%;
    margin-top: 30px;
    font-weight: 400;
    display: none;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    opacity: 0;
}

.faq__description.active {
    display: block;
    opacity: 1;
}

/* place */
.place {
    margin-top: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.place__title {
    font-weight: 900;
    font-size: 98px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.place__title span {
    color: #FF6F1A;
    font-weight: 400;
}

.place__text {
    text-align: center;
    margin-top: 70px;
}

.fill__form {
    margin-top: 30px;
    color: #0F141A;
}

.fill__form:hover {
    color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/* footer */
.footer {
    margin-top: 130px;
    border-top: 1px solid #B9BEC4;
    padding-bottom: 5px;
}

.footer__title {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo__text,
.footer__mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.footer__mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    color: #B9BEC4;

}

.info__text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    color: #91969C;
}

/* popup form */

.form__popup,
.thk__popup,
.video__popup {
    display: none;
    position: fixed;
    z-index: 31;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 20, 26, 0.5);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form__block,
.thk__block,
.video__block {
    position: relative;
    width: 40%;
    padding: 50px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), #B9BEC4;
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #B9BEC4;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #B9BEC4;
}

.form__popup form {
    overflow: hidden;
}

.form__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.form__title {
    color: #91969C;
    width: 45%;
}

.inputs {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
}

.form__input {
    width: 100%;
    background: #FFFFFF;
    color: #0F141A;
    padding: 8px 14px 10px;
}

.input__group {
    position: relative;

}

.input__group:nth-child(1)::before {
    content: 'Имя*';
}

.input__group:nth-child(2)::before {
    content: 'Телефон*';
}

.input__group:nth-child(3)::before {
    content: 'Телеграм';
}

.input__group::before {
    display: none;
    font-size: 10px;
    line-height: 140%;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    left: 14px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.input__group:hover::before {
    display: block;
}

.input__group:hover .form__input::-webkit-input-placeholder {
    color: transparent;
}

.input__group:hover .form__input::-moz-placeholder {
    color: transparent;
}

.input__group:hover .form__input:-ms-input-placeholder {
    color: transparent;
}

.input__group:hover .form__input::-ms-input-placeholder {
    color: transparent;
}

.input__group:hover .form__input::placeholder {
    color: transparent;
}

.form__input:focus {
    border: 1px solid #B9BEC4;
}

.radio__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-top: 30px;
    color: #91969C;
}

.radio__label.active {
    color: #0F141A;
}

.radio__label input[type=radio] {
    display: none;
}

.radio__label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio__label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/radio.png) 0 0 no-repeat;
}

/* Checked */
.radio__label.active:before {
    background: url(../images/radio-checked.png) 0 0 no-repeat;
}

.change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.change.textarea {
    margin-left: 0;
}

.file__group {
    width: 100%;
}

.textarea__group {
    width: 100%;
}

.input__wrapper {
    margin-top: 15px;
    border: 1px dashed #91969C;
    text-align: center;
    color: #91969C;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input__file-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 28px 14px;
}

.input__file-button span {
    font-size: 12px;
}

.form__textarea {
    color: #91969C;
    padding: 8px 14px;
    background: #FFFFFF;
    width: 100%;
    margin-top: 30px;
    resize: none;
    width: 100%;
    height: 70px;
    overflow-y: scroll;
    outline: none;
    color: #0F141A;
}

.submit__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 40px;
}

.agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    width: 55%;
    gap: 5px;
}

.agreement p,
.agreement a {
    font-size: 10px;
    line-height: 120%;
    color: #91969C;
}

.agreement p {
    padding-left: 20px;
}

.agreement a {
    text-decoration: underline;
}

.check__label {
    position: relative;
}

.check__label input {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    background: #FFFFFF;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check__label input.checked~.checkmark:after {
    display: block;
}

.check__label .checkmark:after {
    left: 50%;
    top: 30%;
    width: 5px;
    height: 10px;
    border: 2px solid #B9BEC4;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translate(-50%);
}

.form__submit {
    color: #FFFFFF;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.form__submit:disabled {
    background: #B9BEC4;
    border: none;
    cursor: default;
}

.form__submit:disabled:hover {
    color: #fff;
}

.form__submit:disabled::before {
    top: 100%;
    color: #fff;
}

.form__submit:hover {
    color: #0F141A;
}

.form__close,
.thk__close,
.video__close {
    position: absolute;
    top: 0;
    right: -58px;
    background: #0F141A;
    border-radius: 0px 60px 60px 0px;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

/* popup thanks */


.thk__block {
    padding: 67px 20px;
    text-align: center;
}

.thk__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FF6F1A;
}

.thk__block p {
    margin-top: 10px;
    color: #91969C;
}

.thk__btn {
    margin-top: 30px;
    border: 1px solid #FF6F1A;
    border-radius: 60px;
    padding: 8px 18px;
    color: #0F141A;
    text-transform: uppercase;
}

/* video popup */

.video__block {
    position: relative;
    width: 60%;
    height: auto;
    padding: 0;
}

/* policy */
.logo {}

.policy__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.policy__title {
    width: 25%;
}

.policy__text {
    width: 75%;
    font-size: 16px;
    line-height: 140%;
    color: #B9BEC4;
}

.policy__text ul {
    margin-left: 20px;
    margin-bottom: 16px;
}

.policy__text ul li {
    list-style-type: disc;
}

.policy__text p {
    margin-bottom: 16px;
}

@media (max-width:1024px) {
    .title {
        font-size: 78px;
    }

    .logo.mobile {
        display: block;
        position: absolute;
        left: 60px;
        top: 16px;
    }

    .header {
        margin-left: 45px;
    }

    .nav {
        padding: 100px 16px 50px;
        position: fixed;
        top: 0;
        z-index: 20;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        left: -100%;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        background: #0F141A;
        width: 250px;
        height: 100vh;
        transition: 0.8s;
    }

    .nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        gap: 35px;
    }


    .vacancies__link.mobile {
        display: block;
        margin-top: 170px;
    }

    .burger-menu_active .nav {
        left: 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .nav__link {
        text-align: left;
    }

    .burger-menu_button.mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 16px;
    }

    .container {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }


    .header {
        padding: 0 16px;
    }

    .we {
        padding: 0 16px;

    }

    section {
        margin-top: 115px;
        padding: 0 16px;
    }



    .title__block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .video__container {
        width: calc(100% + 32px);
        margin-right: -16px;
    }

    .video__container .gradient {
        top: 0;
        height: 40px;
    }

    .title {
        font-size: 32px;
        line-height: 100%;
        max-width: 320px;
        left: 16px;
        top: 190px;
    }

    .title__buttons {
        width: 100%;
        gap: 40px;
        margin-top: 125px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .title__block .open__form {
        width: 100%;
        text-align: center;
    }

    .cities {
        overflow: scroll;
        margin: 80px 0;
    }

    .cities::-webkit-scrollbar {
        width: 0;
    }

    .cities {
        -ms-overflow-style: none;
    }

    .cities {
        overflow: -moz-scrollbars-none;
    }

    .cities__list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        margin-left: 0;
        margin-right: 0;
    }

    .cities__list:after,
    .cities__list:before {
        display: none;
    }

    .cities__list li {
        white-space: nowrap;
    }

    li.main__city {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .cities__list li:first-of-type {
        -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
        order: -2;
    }

    .we__description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .we__description .col {
        width: 100%;
    }

    .col .second__title {
        margin-bottom: 45px;
    }

    .col p {
        margin-bottom: 18px;
    }

    .we .third--title {
        margin-top: 45px;
    }

    .we {
        overflow: hidden;
    }

    .product__wrapper {
        overflow-x: scroll;
    }

    .product {
        width: calc(300vw - 60px);
        gap: 20px;
        padding-bottom: 40px;
    }

    .product__wrapper::-webkit-scrollbar {
        height: 6px;
    }

    .product__wrapper::-webkit-scrollbar-track {
        background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 20, 26, 0.5)), to(rgba(15, 20, 26, 0.5))), #91969C;
        background: linear-gradient(0deg, rgba(15, 20, 26, 0.5), rgba(15, 20, 26, 0.5)), #91969C;
        border-radius: 60px;
    }

    .product__wrapper::-webkit-scrollbar-thumb {
        background: #FFFFFF;
        border-radius: 60px;
    }

    .product__block {
        padding: 35px 22px;
        width: calc(100% - 20px);
    }

    .product__title {
        font-size: 32px;
        line-height: 42px;
    }

    .product__body {
        margin-top: 11px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 90px;
    }

    .advantages {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .advantages__title--block {
        width: 100%;
        margin-bottom: 45px;
    }

    .advantages__description {
        width: 100%;
        gap: 40px;
    }

    .advantages__elem {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 15px;
    }


    .advantages h3,
    .advantages p {
        width: 100%;
    }

    .advantages__container {
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-top: 50px;
    }

    .advantages__container .gradient {
        height: 40px;
    }

    .stages {}

    .stages__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 45px;
    }

    .stages .second__title,
    .stages__description {
        width: 100%;
    }

    .first__stage {
        margin-top: 45px;
        padding-left: 120px;
        text-align: left;
    }

    .first__stage .stage__number {
        top: 50%;
        left: 18px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .stages__wrapper {
        margin-top: 35px;
        gap: 35px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .stage__elem {
        width: 100%;
        padding: 18px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 0 1fr 0 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 0 1fr 0 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0;
        grid-template-areas:
            "stage__number stage__description stage__description "
            "stage__number stage__description stage__description "
            "stage__number stage__time stage__time ";
    }

    .stage__elem:first-of-type,
    .stage__elem:last-of-type {

        -ms-grid-columns: 1fr 1fr 1fr;

        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "stage__number stage__description stage__description "
            "stage__number stage__description stage__description "
    }

    .stage__number {
        display: block;
    }

    .team {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .team__title {
        width: 100%;
    }

    .first__slider {
        margin-top: 50px;
        width: 100%;
    }

    .map__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
    }

    .counter {
        width: 100%;
    }

    .departments {
        width: 100%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        gap: 4px;
        margin-top: 20px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .department__block {
        padding: 8px 16px;
    }

    .map__block {
        margin-top: 70px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .map__description,
    .map__img--block {
        width: 100%;
    }

    .map__img--block {
        margin-top: 50px;
    }

    .map__dot {
        width: 10px;
        height: 10px;
    }

    .life {
        margin-top: 115px;
    }

    .life .second__title {
        margin-bottom: 44px;
    }

    .life .second__title,
    .life__description {
        width: 100%;
    }

    .life__description:first-of-type {
        margin-bottom: 30px;
    }

    .life__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .second__slider {
        margin-top: 50px;
        padding-bottom: 0;
    }

    .faq {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 50px;
    }

    .faq .second__title,
    .faq__block {
        width: 100%;
    }

    .faq__block {
        gap: 40px;
    }

    .faq__container {
        gap: 15px;
    }

    .faq__description {
        margin-top: 0;
    }

    .place {
        margin-top: 110px;
    }

    .place__title {
        font-size: 32px;
        line-height: 100%;
    }

    .place__text {
        margin-top: 45px;
    }

    .fill__form {
        margin-top: 50px;
        width: 100%;
    }

    .footer {
        width: calc(100% - 32px);
        margin: 90px auto 0;
    }

    .footer__title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 10px;
    }

    .info__text {
        margin: 18px 0 5px;
        font-size: 8px;
    }

    .form__block,
    .thk__block {
        padding: 20px 16px;
        width: 100vw;
        height: 100vh;
    }

    .form__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 20px;
    }

    .form__title {
        width: 80%;
    }

    .inputs {
        width: 100%;
    }

    .form__close,
    .thk__close {
        top: 25px;
        right: 16px;
        width: 14px;
        height: 14px;
        background: none;
    }

    .form__close path,
    .thk__close path {
        stroke: #91969C;
        ;
    }

    .radio__group {
        gap: 15px;
    }

    .submit__block {
        margin-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .agreement {
        width: 100%;
        margin-top: 30px;
    }

    .thk__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .thk__btn {
        margin-top: 300px;
        width: 100%;
    }

    .check__label .checkmark:after {
        top: 2px;
    }

    .policy__header {
        padding: 16px 16px 0;
    }

    .policy__wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 30px;
        padding: 0 16px;
    }

    .policy__title,
    .policy__text {
        width: 100%;
    }

    .stage__description {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }

    .stage__elem:first-of-type>.stage__description,
    .stage__elem:last-of-type>.stage__description {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2
    }

    .stage__number {
        -ms-grid-row: 1;
        -ms-grid-row-span: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .stage__elem:first-of-type>.stage__number,
    .stage__elem:last-of-type>.stage__number {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1
    }

    .stage__time {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }
}

@media (max-width: 380px) {
    .title__buttons {
        margin-top: 145px;
    }
}